@charset "UTF-8";
 
@media screen and (min-width: 768px) {
    body {
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    header > nav#menu {
        width: 100vw;
    }

    main {
        
    }

    section#ficha {
        display: flex;
        flex-direction:  row-reverse;
    }

    section#ficha > h1 {
        justify-items: flex-start;
        align-self: flex-start;
        order: 6;
        flex-basis: 100px;
    }
    section#ficha > p {
        align-self: center;
        order:2;
    }

    .topo {
        margin: 30PX;
    }

    #detalhes > #conteiner {
        flex-direction: column;
    }

    #detalhes > #conteiner > .item {
        margin: 10px;
        height: 250px;
        width: 250px;
    }

    #detalhes > #conteiner > .item > a > img {
        width: 100%;
    }

    #detalhes > #conteiner > .item:hover {
        width: 500px;
    }

    #detalhes > #conteiner > .item > a > img:hover {
        width: 500px;
    }
}

